
{deps_dir, ["deps"]}.

{deps,
  [
    {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
    {mongodb, ".*",{git,"https://github.com/comtihon/mongodb-erlang.git", {branch, "master"}}},
    {jiffy, ".*",{git,"https://github.com/davisp/jiffy.git", {branch, "master"}}},
    {ibrowse, ".*",{git,"https://github.com/cmullaparthi/ibrowse.git", {branch, "master"}}}
  ]
}.